# Ignore files and directories not needed in the Docker image
# Add any other files/directories that should be excluded

# Development files
docker-compose.yml
Dockerfile.dev
.env

# Database files
db.sqlite3

# Static and media files
static/
media/

# Python cache
__pycache__/
*.pyc

# Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.sqlite3
