<!-- post_list.html -->

{% extends 'blog/base.html' %}

{% block title %}Blog - My Blog{% endblock %}

{% block content %}
  <h1>Blog</h1>

  {% for post in posts %}
    <article class="post">
      <h2>{{ post.title }}</h2>
      <p class="post-meta">
        Posted on {{ post.published_date }} by {{ post.author }}
      </p>
      <div class="post-excerpt">
        {{ post.excerpt }}
      </div>
      <a href="{% url 'blog:post_detail' post.id %}" class="read-more-link">Read more</a>
    </article>
  {% empty %}
    <p>No posts found.</p>
  {% endfor %}
{% endblock %}
