<!-- post_list.html -->

{% extends 'blog/base.html' %}

{% block title %}My Blog - All Posts{% endblock %}

{% block content %}
  <section class="post-list">
    {% for post in posts %}
      <article class="post">
        <h2><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
        <p class="post-meta">
          Posted on {{ post.published_date }} by {{ post.author }}
        </p>
        <div class="post-content">
          {{ post.content | safe | truncatewords:30 }}
        </div>
      </article>
    {% empty %}
      <p>No posts available.</p>
    {% endfor %}
  </section>
{% endblock %}

{% block js %}
<script src="{% static 'blog/js/post.js' %}"></script>
{% endblock %}
