{% extends 'digital_storefront/base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for product in products %}
        <article>
            <h1>{{ product.name }}</h1>
            <p class="product-price">${{ product.price }}</p>
            <p>{{ product.description }}</p>
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <input type="submit" value="Add to Cart" class="btn btn-primary">
            </form>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
